.brand-img {
    /* min-height: 100%;
    max-width: 400px;
    max-height: 200px;
    width: auto;
    height: auto; */
    /* object-fit: cover;
    object-position: 50% 50%; */
    width: 75%;
}

.brand-card:hover {
    cursor: pointer;
    transform: scale(102%, 102%);
    /* box-shadow: 0 15px 30px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
}