.main-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.main-section--logo, .main-section--text {
    flex: 1 1 auto;
    flex-basis: 40%;
}
.main-section--img {
    width: 100%;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
.main-section--text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 7vw;
    animation-name: easeIn;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    max-width: 50%;
}
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes easeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}